# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/dist/favicon.ico
client/dist/index.html
client/dist/refine.svg
client/dist/assets/index-2b2dc52b.js
client/dist/assets/index-a766ed49.css
client/dist/assets/yariga-e542f758.svg
